<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="form-inline my-2 my-lg-0 btn btn-danger" href="/">Log Out</a>
  </div>
</nav>
<br/>
<div class="container">
  <div class="rw">
      <div class="jumbotron">
          <h1 class="display-3">Hello Admin,</h1>
          <p class="lead">Recent Login Details</p>
          Country: {{device.country}}
          <br/>
          City: {{device.city}}
          <br/>
          Timezone: {{device.timezone}}
          <br/>
          Browser : {{device.browser}}
          </br>
          Operating System: {{device.os}}
          <hr class="my-4">
          <p>The fingerprint will vary from one browser to another of the same machine </p>
      </div>
      </div>
      
    </div>

